@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both; /*clears both left and right float*/
	}
}

// center inside the parent
@mixin absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}