.story {
	width: 75%;
	margin: 0 auto; // center (works when we've block element inside another block element)
	box-shadow: 0 3rem 6rem rgba($color-black, .1);
	background-color: rgba($color-white, .6);
	border-radius: .3rem;
	padding: 6rem;
	padding-left: 9rem;
	font-size: $default-font-size;
	transform: skewX(-12deg);

	@include respond(tab-port) {
		width: 100%;
		padding: 4rem;
		padding-left: 7rem;
	}

	@include respond(phone) {
		transform: skewX(0);
	}

	&__heading {
		@include respond(phone) {
			padding-left: 4.5rem;
    		padding-right: 4.5rem;
		}
	}

	&__shape {
		background-color: blue;
		width: 15rem; // required ppty to make shape-outside work
		height: 15rem; // required ppty to make shape-outside work
		float: left; // required ppty to make shape-outside work
		-webkit-shape-outside: circle(50% at 50% 50%); // radius = 50% of height and width
		shape-outside: circle(50% at 50% 50%);// make text float around a circle(radius at center co-ords)
		-webkit-clip-path: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		transform: translateX(-3rem) skewX(12deg);
		position: relative;

		@include respond(phone) {
			transform: translateX(-3rem) skewX(0);
		}
	}

	&__image {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1.4); 
		height: 100%;// 100% = 15rem(parent's height) responsive images always need height
		transition: all .5s;
	}

	&__text {
		transform: skewX(12deg);	
		@include respond(phone) {
			transform: skewX(0);
		}	
	}

	&__caption {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 20%); 
		color: $color-white;
		text-transform: uppercase;
		font-size: 1.7rem;
		text-align: center; 
		opacity: 0; // initial state (to hide)
		transition: all .5s;
		backface-visibility: hidden; // hack: hide shakiness on animation
	}

	&:hover &__caption { // on hover animate caption
		opacity: 1;
		transform: translate(-50%, -50%);
	}

	&:hover &__image {
		transform: translate(-50%, -50%) scale(1);
		filter: blur(.3rem) brightness(80%);
	}
}