
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit; /*so that all elements inherit this ppty*/
}

html {
	/*font-size: 10px;*/ /*root font size: 1rem = 10px*/
	font-size: 62.5%; /*wrt to default of browser, in general 16px. defines what 1 rem =? (62.5% of 16px = 10px)*/


	@include respond(tab-land) { // width < 1200px?
		font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
	}

	@include respond(tab-port) { // width < 900px?
		font-size: 50%; // 1rem = 8px, 8/16 = 50%
	}

	@include respond(big-desktop) { // width > 1800px?
		font-size: 75%; // 1rem = 12px, 12/16 = 75%
	}

}

body {
	padding: 3rem;
	box-sizing: border-box; /*so that padding and margin are not added to elements height & width*/
}

/* Mozilla based browsers */
*::-moz-selection {
       background-color: $color-primary;
       color: $color-white;
}

/* Works in Safari */
*::selection {
       background-color: $color-primary;
       color: $color-white;
}