.section-about {
	background-color: $color-grey-light-1;
	padding: 25rem 0;
	margin-top: -20vh;

	@include respond(tab-port) {
		padding: 20rem 0;
	}

	&__heading {
		@include respond(phone) {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	
}

.section-features {
	padding: 20rem 0;
	background-image: linear-gradient(to right bottom, rgba($color-primary-light,0.8), rgba($color-primary-dark,0.8)), url(../img/nat-4.jpg);
	background-size: cover;
	transform: skewY(-7deg);
	margin-top: -10rem;

	/*direct child selector of section-features, row is the direct child*/
	& > * {
		transform: skewY(7deg);
	}

	@include respond(tab-port) {
		padding: 10rem 0;
	}
}

.section-tour {
	background-color: $color-grey-light-1;
	padding: 25rem 0 15rem 0;
	margin-top: -10rem;

	@include respond(tab-port) {
		padding: 20rem 0 10rem 0;
	}
}

.section-stories {
	position: relative;
	padding: 15rem 0;

	@include respond(tab-port) {
		padding: 10rem 0;
	}
}

.section-book {
	padding: 15rem 0;
	background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

	@include respond(tab-port) {
		padding: 10rem 0;
	}
}

.book {
	background-image: linear-gradient(105deg, rgba($color-white,0.9) 0%,
		                                      rgba($color-white,0.9) 50%,
		                                      rgba(transparent,0) 50%), 
	                                          url(../img/nat-10.jpg);
	background-size: 100%; // fits 100% in x-direction (makes the img cover entire width, not height)
	border-radius: .3rem;
	box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

	@include respond(tab-land) {
		background-size: cover; // so that img covers entire container (height and width)
		background-image: linear-gradient(105deg, rgba($color-white,0.9) 0%,
		                                      rgba($color-white,0.9) 65%,
		                                      rgba(transparent,0) 65%), 
	                                          url(../img/nat-10.jpg);
	}

	@include respond(tab-port) {
		background-image: linear-gradient(to right, rgba($color-white,0.9) 0%,
		                                      rgba($color-white,0.9) 100%), 
	                                          url(../img/nat-10.jpg);
	}

	&__form {
		width: 50%;
		padding: 6rem;

		@include respond(tab-land) {
			width: 65%;
		}
		@include respond(tab-port) {
			width: 100%; // only white part covers the container
		}		
	}
}