.navigation {
	

	&__checkbox {
		display: none; // hide checkbox
	}

	&__button {
		background-color: $color-white;
		height: 7rem;
		width: 7rem;
		border-radius: 50%;
		position: fixed;
		top: 6rem;
		right: 6rem;
		z-index: 2000; // higher than &__background as we need to cover it
		cursor: pointer;
	}

	&__background {
		height: 6rem;
		width: 6rem;
		border-radius: 50%;
		position: fixed;
		top: 6.5rem;
		right: 6.5rem;
		background-image: radial-gradient($color-primary-light, $color-primary-dark);
		z-index: 1000;

		transform: scale(80);
	}

	&__nav {
		height: 100vh;
		width: 100%;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1500;
	}

	&__list {
		list-style: none;
		text-align: center;
		width: 100%;
		// to center within another element(we can write mixin for this)
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__item {
		margin: 1rem;
	}

	&__link {
		&:link,
		&:visited {
			display: inline-block;
			font-size: 3rem;
			color: $color-white;
			font-weight: 300;
			text-decoration: none;
			text-transform: uppercase;
			padding: 1rem 2rem;
			background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);// solid-color-gradient for edge effect
			background-size: 230%; // on inc this value linear gradient(bg-img) will vary
			transition: all .4s;

			span {
				margin-right: 1.5rem;
				display: inline-block;
			}
		}
		
		&:hover,
		&:active {
			background-position: 100%;
			color: $color-primary;
			transform: translateX(1rem);
		}

	}
}